<%- include('./partials/header.ejs') %>
    <h1 class="m-5 text-center">
      <%= (typeof game !== "undefined" ? "Modifier "+game.title: "Ajouter un jeu") %>
    </h1>

    <div class="container">
        <form class="w-75 m-auto" method="POST" action="<%= (typeof game !== "undefined" ? "/edit-game": "/new-game") %>">
            <input type="hidden" value="<%= (typeof game !== "undefined" ? game._id:null) %>" name="id">  
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nom du jeu</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" value=" <%= (typeof game !== "undefined" ? game.title: "") %>">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Image URL</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="thumbnail" placeholder="https://...">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">URL du jeu</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="thumbnail" placeholder="https://...">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Genre</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="genre" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Platforme</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="platform" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Editeur</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="publisher" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">developer</label>
              <input type="text" class="form-control" id="exampleInputPassword1" name="developer" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">page du jeu</label>
              <input type="date" class="form-control" id="exampleInputPassword1" name="freetogame_profile_url" >
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">
              <%= (typeof game !== "undefined" ? "Modifier "+game.title: "Enregistré") %>
            </button>
          </form>
    </div>
</body>
</html>